<div class="imgHolder">
  <div class="container text-center">
    <div class="setting d-flex justify-content-between align-items-center ">
      <h1 class="title-app">TODO</h1>
      <a (click)="changeTheme()"><img [src]='ImgSource' alt="icon-moon"></a>
    </div>
    <div class="newtodo  d-flex align-items-center ">
      <div class="round"> </div>
      <input type="text" class="form-control shadow-none" placeholder="Create a new todo..." [(ngModel)]='tache'
        (keydown.enter)='addTodo()'>
    </div>
  </div>
</div>
<div class="back ">
  <div class="container">
    <ul class="todos">
      <li *ngFor="let todo of listTodo "><app-todo [todo]="todo" (newItemEvent)="removeItem($event)"></app-todo></li>

      <li>
        <div class="foot-list d-flex justify-content-between align-items-center">
          <p>{{nbreItemsLeft()}} items left</p>
          <ul class="filter d-flex gap-2">
            <li [ngClass]="{'active':typeFilter==='All'}" (click)="filter('All')">All</li>
            <li [ngClass]="{'active':typeFilter==='Active'}" (click)="filter('Active')">Active</li>
            <li [ngClass]="{'active':typeFilter==='Completed'}" (click)="filter('Completed')">Completed</li>
          </ul>
          <p (click)="removeCompleted()">Clear Completed</p>
        </div>
      </li>
    </ul>
  </div>

</div>
